In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.cm import viridis
from IPython.display import FileLink

# primera lectura del csv

df = pd.read_csv('loan_dataset2.csv', )

df

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area
0,Male,Yes,0,Graduate,No,572000,0,11000000,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,307600,150000,12600000,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,500000,180000,20800000,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,234000,254600,10000000,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,327600,0,7800000,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,400900,177700,11300000,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,415800,70900,11500000,360.0,1.0,Urban
364,Male,No,0,Graduate,No,325000,199300,12600000,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,500000,239300,15800000,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,920000,0,9800000,180.0,1.0,Rural

<div style="text-align: center; margin-bottom: 27px; color:black;">

## > Crear un entorno

</div>
<section style="border-radius: 10px; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; margin-bottom: 30px;">

⚫   Abrir terminal

⚫   conda create --name "nombre entorno"

⚫   conda activate "nombre entorno" // conda deactive "nombre del entorno"

⚫   conda install numpy pandas Matplitlib (instalar librerias)

⚫   conda info --envs

⚫   jupyter notebook
</section>

<div style="text-align: center; margin-bottom: 27px; color:black;">

## > Abrir Un Entorno Creado Previamente

</div>

<section style="border-radius: 10px; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; margin-bottom: 30px;">

⚫   conda info --envs

⚫   jupyter notebook (crear o abrir un cuaderno)

</section>
        

<div style="text-align: center; margin-bottom: 27px; color:black;">

## > Importar librerias en el archivo 

</div>

<section style="border-radius: 10px; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; margin-bottom: 30px;">
  
⚫  En el archivo deseado 
                
    import pandas as pd
    import matplotlib.pyplot as plt
    from matplotlib.cm import viridis
    from IPython.display import FileLink

</section>

<div style="text-align: center; margin-bottom: 27px; color:black;">

## > Ejercicio

</div>

<section style="border-radius: 10px; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; margin-bottom: 30px;">


    R: df = pd.read_csv('loan_dataset2.csv'):

        Aquí se lee un archivo CSV llamado "loan_dataset2.csv" utilizando la función read_csv de Pandas. Los datos se almacenan en un DataFrame llamado "df". Un DataFrame es una estructura de datos de Pandas que se utiliza para almacenar y manipular datos tabulares.


    R: df.head()

        Esta línea imprime las primeras filas del DataFrame "df". Por defecto, muestra las primeras 5 filas, pero también puedes especificar un número diferente de filas como argumento dentro de los paréntesis, por ejemplo: df.head(10) mostraría las primeras 10 filas del DataFrame.

        La función head() es útil para obtener una vista previa de los datos y verificar rápidamente la estructura y los valores iniciales en un DataFrame. Muestra las primeras filas, lo que puede ser especialmente útil cuando se trabaja con grandes conjuntos de datos y no se quiere imprimir todo el DataFrame completo.

    R:  df.describe()

        Esta línea muestra un resumen estadístico del DataFrame "df". Proporciona información como el recuento de datos, la media, la desviación estándar, los valores mínimo y máximo, y los percentiles de las columnas numéricas del DataFrame.

        El resultado de df.describe() mostrará las siguientes estadísticas para cada columna numérica del DataFrame:

        Count: el número de valores no nulos en la columna.
        Mean: la media (promedio) de la columna.
        Std: la desviación estándar de la columna.
        Min: el valor mínimo de la columna.
        25%: el percentil 25 de la columna.
        50%: el percentil 50 (mediana) de la columna.
        75%: el percentil 75 de la columna.
        Max: el valor máximo de la columna.

</section>

In [2]:
# mostrar las primeras 5 filas

df.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area
0,Male,Yes,0,Graduate,No,572000,0,11000000,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,307600,150000,12600000,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,500000,180000,20800000,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,234000,254600,10000000,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,327600,0,7800000,360.0,1.0,Urban

In [3]:
# mostrar informacion basica 

df.describe()

NameError: name 'df' is not defined