In [24]:
# importamos las librerias
import pandas as pd
from matplotlib.cm import viridis
from IPython.display import FileLink


# lectura csv

ar = pd.read_csv("loan_dataset2.csv", header=0, delimit_whitespace=",")
ar

TypeError: read_csv() got an unexpected keyword argument 'delimit_whitespace'

In [16]:
# mostrar las primeras 5 lineas del csv 

only_five = ar.head()

only_five

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area
0,Male,Yes,0,Graduate,No,572000,0,11000000,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,307600,150000,12600000,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,500000,180000,20800000,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,234000,254600,10000000,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,327600,0,7800000,360.0,1.0,Urban

In [ ]:
# Mostrar la información estadística básica 

import matplotlib.pyplot as plt

data = pd.read_csv("loan_dataset2.csv")

data.describe()

:

<h1 style="text-align:center"> Documentar con Markdown todo lo que se ha hecho en cada celda</h1>


<ul>
<li>
 Documentar con Markdown todo lo que se ha hecho en cada celda
</li>